.poemContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5em;
    max-width: 400px;
}
  
.poemTitle {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.4;
    margin: 1rem 0;
}
  
.poemDate {
    /* font-family: Arial, sans-serif; */
    font-size: 1.25em;
    margin-bottom: 0.75em;
    color: #666;
}
  
.poemContent {
    /* font-family: Arial, sans-serif; */
    font-size: 1.5em;
    color: #1c1c1c;
    font-weight: normal;
}
  
.readMoreButton {
    /* font-family: Arial, sans-serif; */
    font-size: 1.25em;
    color: #666;
    margin-top: 1em;
    text-decoration: none;
}  